body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
}

h1
{
  text-align: center;
  color: #fff;
}

.yin-yang
{
  $tam: 300px;
  $c1: white;
  $c2: black;
  width: $tam;
  height: $tam;
  border-radius: 50%;
  background: black;
  margin: 2em auto;
  box-shadow: 0 0 20px 10px rgba(#fff,.3);
  background:
    radial-gradient(
      $tam / 8 circle at 50% 25%,
      $c2 50%,
      transparent 50%
    ),
    radial-gradient(
      $tam / 8 circle at 50% 75%,
      $c1 50%,
      transparent 50%
    ),
    radial-gradient(
      $tam / 2 circle at 50% 25%,
      $c1 50%,
      transparent 50%
    ),
    radial-gradient(
      $tam / 2 circle at 50% 75%,
      $c2 50%,
      transparent 50%
    ),
    linear-gradient(
    90deg,
    $c1 50%,
    $c2 50%
    );
  animation: girar 2s linear infinite;
}

@keyframes girar
{
  to {
    transform: rotate(360deg);
  }
}
